/*apply to the whole document*/
*{
	padding:0px;
	border :0px;
}

/*removes the white strip araund the website*/
body{
	margin:0px;
	padding:0px;
}
/*logo properties*/
nav img{
	height:100px;
	width:100px;
	position:absolute;
	top:0px;
	left:0px;
}
/*first section properties*/
.header{
	 background-image: linear-gradient(rgba(9, 15, 39, 0.7),rgba(9,15,39,0.7)),url(class.jpg);
	background-size:cover;
	background-position:center;

	padding:0px;
	width:100%;
	height:700px;
	position: relative;
}
/*navigation bar properties*/
nav{
	display:flex;
	padding:2% 6%;
	justify-content: space-between;
	align-items:center;
	position: relative;
}
.links{
	text-align:right;
	flex:1;
}
.links ul li{
	list-style: none;
	display: inline-block;
	position: relative;
	padding: 0px 8px;
	border:0px;
}
/*navigation text properties*/
.links ul li a{
	color: white;
	text-decoration:none;
	text-size:14px;
}
/*adding line animation below navigation text but not working at the moment*/
.links ul li::after{
    content:"";
    width:0%;
    height:2px;
    background:#f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.links ul li::hover::after{
width: 100%;
}
/*text properties*/
.text1{
    width:90%;
    color:#fff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text1 h1{
	font-size:50px;
}
.text1 p{
	font-size:18px;
	color:#fff;
	margin:10px 0px 40px;
}
.button{
    display: inline-block;
    padding: 12px 34px;
    text-decoration:none;
    color:#fff;
    border: 2px solid #fff;
    font-size: 16px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.button:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 3s;
 }
/*
nav .fa-solid{
	display:none;
}
*/
   

 @media(max-width: 700px){
 	.text1 h1{
	font-size:20px;
}
	.links ul li{
		display:block;
 }
 	.links{
 		position:absolute;
 		background:#f44336;
 		padding:5px;  
 		line-height: 50px;
 		height:100vh;
 		width:200px;
 		top:0;
 		right:-200px;
 		text-align: left; 
 		z-index:2;
 		transition: 2s;
 	}
 	nav.fa-solid{
 		display:block;
 		color:#fff;
 		margin:5px;
 		font-size:22px;
 		cursor:pointer;
 	}
 	.links ul{
 		padding:30px;
 	}
 }
 .courses{
 	width:80%;
 	margin:auto;
 	text-align: center;
 	padding-top:20px;
 }
 h1{
 	font-size:36px;
 	font-weight:600;
 }
 p{
 	color:#777;
 	font-size:14px;
 	font-weight:300;
 	line-height:22px;
 	padding:10px;
 }
 .row{
 	margin:5%;
 	display:flex;
 	justify-content: space-between;
 }
 .coursetype{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding:20px 12px;
    box-sizing: border-box;
    transition: 0.5s;

}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.coursetype:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*gallery*/

.Gallery{
    width: 80%;
    padding-top: 10px;
    margin: auto;
    text-align:center;
    text-color: #fff;

}

.row12{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    
}
.row12 img{
    width: 70%;
}
.layer{
    background: rgba(226,0,0,0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    transition:0.5s;
}
.layer:hover{
	background:rgba(226,0,0,0.7);
}
